@model DataBase.Data.Consultation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Consultation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientSymptoms" class="control-label"></label>
                <input asp-for="PatientSymptoms" class="form-control" />
                <span asp-validation-for="PatientSymptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecState" class="control-label"></label>
                <input asp-for="RecState" class="form-control" />
                <span asp-validation-for="RecState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDateTime" class="control-label"></label>
                <input asp-for="CreationDateTime" class="form-control" />
                <span asp-validation-for="CreationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
